* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
}

.topbar {
    height: 50px;
    display: flex;
}

.topbar img {
    padding: 10px 0px;
    width: 50px;
    cursor: pointer;
}

.topbar h2 {
    padding: 10px 0px;
    cursor: pointer;
}

.humburger .fa-bars {
    padding: 17px 50px;
    cursor: pointer;
}

.device {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    width: 115px;
    height: 20px;
    margin-left: 655px;
    margin-top: 15px;
}

.device .fa-mobile {
    padding: 2px 5px;
}

.text h5 {
    font-size: 10px;
    margin-top: -15px;
    margin-left: 20px;
}

.notification {
    border: 1px solid grey;
    border-radius: 10px;
    width: 20px;
    height: 15px;
    margin-top: 5px;
    margin-left: 13px;
    padding: 11px 8px;
    cursor: pointer;
}

.notification .fa-bell {
    margin-left: 4px;
}

.try-now {
    border: 1px solid rgb(20, 20, 136);
    border-radius: 5px;
    background-color: rgb(20, 20, 136);
    color: #fff;
    width: 115px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.try-now h5 {
    text-align: center;
    font-weight: 300;
    padding: 2px;
}

.image img {
    border-radius: 50px;
    margin-left: 20px;
    padding: 8px 8px;
}

.side-bar {
    width: 250px;
}

.email-section {
    height: auto;
    width: 250px;
    padding: 5px 10px;
}

.cross .bx-shuffle {
    margin-left: 100px;
    margin-top: -10px;
}

.email {
    font-weight: 200;
}

.btn {
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: rgb(20, 20, 136);
    border-radius: 5px;
    padding: 10px 73px;
    color: #fff;
    margin-top: 10px;
    margin-left: 8px;
    cursor: pointer;
}

.side-navbar {
    padding: 10px;
}

.side-navbar ul li {
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}

.side-navbar ul li:hover {
    background-color: rgb(20, 20, 136);
    color: #fff;
}

.hero-color {
    background-color: rgb(20, 20, 136);
}

.side-navbar ul li a {
    text-align: center;
    text-decoration: none;
    color: #000;
}

.side-navbar ul li a .fa-solid {
    padding: 0px 20px;
}

.side-navbar ul li a .bx {
    padding: 0px 20px;
}

#fa-chevron-down {
    padding: 0px 55px;
}

#network {
    padding: 0px 30px;
}

#camera {
    padding: 0px 38px;
}

#media {
    padding: 0px 49px;
}

#apps {
    padding: 0px 57px;
}

#browser {
    padding: 0px 33px;
}

#files {
    padding: 0px 57px;
}

#location {
    padding: 0px 33px;
}

.warn {
    background-color: #FFEAB5;
    display: flex;
    width: 82%;
    height: 20px;
    margin-top: 50px;
    margin-left: -1065px;
}

.demo {
    margin-left: 235px;
}

.mobile-icons span {
    color: #007AFF;
}

.wifi {
    margin-left: 300px;
    margin-top: -660px;
}

.verizon {
    margin-left: -375px;
    margin-top: -53px;
    text-align: center;
}

.gps {
    margin-left: -14px;
    margin-top: -62px;
    text-align: center;
}

.battery {
    margin-left: 360px;
    margin-top: -53px;
    text-align: center;
}

.device-storage {
    margin-left: 740px;
    margin-top: -57px;
    text-align: center;
}

.free {
    margin-left: 1142px;
    margin-top: -55px;
    text-align: center;
}

.video {
    margin-left: -725px;
    text-align: center;
    margin-top: 35px;
}

.images {
    margin-left: -375px;
    margin-top: -57px;
    text-align: center;
}

.audio {
    margin-left: 0px;
    margin-top: -57px;
    text-align: center;
}

.app {
    margin-left: 375px;
    margin-top: -55px;
    text-align: center;
}

.document {
    margin-left: 750px;
    margin-top: -59px;
    text-align: center;
}

.other {
    margin-left: 1142px;
    margin-top: -55px;
    text-align: center;
}
.device-info{
    justify-content: space-between;
    display: flex;
    width: 79%;
    margin-top: 65px;
    margin-left: 265px;
    flex-direction: grid;
}
.info-device{
    display: flex;
    width: 30%;
    flex-direction: column;
    height: 210px;
}
.colum{
    padding: 0px 0px;
    background-color: rgb(236, 229, 229);
}
.colum p{
    padding: 10px 10px;
    border-bottom: 1px solid gray;
}
.model{
    margin-left: 100px;
}
.version{
    margin-left: 142px;
}
.imei{
    margin-left: 115px;
}
.updated{
    margin-left: 46px;
}
.info{
    padding: 15px 0px;
}
.live{
    color: #007AFF;
    cursor: pointer;
    margin-left: 130px;
}
.live:hover{
    color: black;
}
.img{
    width: 100%;
    height: 158px;
    text-align: center;
}
.switch{
    margin-left: 115px;
    color: green;
    padding: 0px 10px;
}
.chat-section{
    justify-content: space-between;
    display: flex;
    width: 79%;
    margin-top: 35px;
    margin-left: 265px;
    height: auto;
    flex-basis: 40%;
}
.chat{
    width: 39%;
    display: inline-block;
}
.chat-box h4{
    margin-left: 65px;
    margin-top: -45px;
    font-weight: 400;
}
.chat-box p{
    margin-left: 65px;
    padding: 2px 0px;
    font-weight: 300;
}
.chat-box img{
    width: 50px;
    border-radius: 50px;
    padding: 10px 8px;
}
.see-all{
    color: #007AFF;
    cursor: pointer;
    /* text-align: right; */
    margin-left: 215px;
}
.chat-2{
    width: 39%;
}
.date{
    margin-left: 305px;
    margin-top: -35px;
}
.chat-box-2{
    padding: 30px 0px;
}
.chat-box-2 img{
    width: 50px;
    border-radius: 50px;
    padding: 10px 8px;
}
.chat-box-2 h4{
    margin-left: 65px;
    margin-top: -45px;
    font-weight: 400;
}
.chat-box-2 p{
    margin-left: 65px;
    padding: 2px 0px;
    font-weight: 300;
}
.date-2{
    margin-left: 305px;
    margin-top: -60px;
}